<%= link_to "<< All cocktails", cocktails_path  %>
<h1>Cocktail details</h1>

<% require 'date' %>

<p>name : <%= @cocktail.name  %> </p>
<p>last change <%= (Date.today - @cocktail.updated_at.to_date).to_i  %> days ago </p>

<h3>Ingredients</h3>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.ingredient.name %> - <%= dose.description %> |
      <%= link_to "delete",
                  dose_path,
                  method: :delete,
                  data: { confirm: "are you sure ?" }  %>

    </li>
  <% end %>
</ul>

<button>
      <%= link_to "+ add one dose", new_cocktail_dose_path(@cocktail)  %>
</button>
